@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body, html{
    margin: 0;
    padding: 0;
}
.nav-container{
    width:100%;
    height: fit-content;
    background-color: #2890b9;
}
.tab-container{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-tab{
    position: relative;
    box-sizing:content-box;
    display: inline-block;
    text-align: center;
    width:50px;
    max-width:50px;
    font-size: 15px;
    color: white;
    font-family: 'Fjalla One';
    padding: 5px 15px;
    user-select: none;
}
.nav-tab:hover:not(.active){
    cursor: pointer;
    background-color: #ffffff31;
}

.active::after{
    z-index: -1;
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    background-color: white;
    bottom: -5px;
    border-radius: 50%;
    left: calc(50% - 2.5px);
    animation: fadew 0.4s;
}
span{
    position: absolute;
    display: block;
    height: 20px;
    width: 40px;
    background-color: #2890b9;
    left: 20px;
    right: 20px;
    bottom: -10px;
    border-radius: 50%;
    z-index: -3;
    transition: left 0.2s;
}
span::after{
    position: absolute;
    content: "";
    width: 25px; 
    height: 10px;  
    border: solid 5px #2890b9;
    border-color: #2890b9 transparent transparent transparent;
    border-radius: 50%/10px 10px 0 0;
    transform: rotate(15deg);
    bottom: -5px;
    left: -26px;
    z-index: -2;
}
span::before{
    position: absolute;
    content: "";
    width: 25px; 
    height: 10px;  
    border: solid 5px #2890b9;
    border-color: #2890b9 transparent transparent transparent;
    border-radius: 50%/10px 10px 0 0;
    transform: rotate(-15deg);
    bottom: -5px;
    right: -26px;
    z-index: -2;
}

@keyframes fadew{
    from{
        opacity:0;
    }
    to{
        opacity: 100%;
    }
}